.sketchy {
    /* background-image: url("https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1278&q=80"); */
    background-color: slategray;
}

#paper-canvas {
    border: 2px solid black;
    background-color: white;
    width:480px;
    height: 300px;
}

.marginTop {
    margin-top: 15px;
}

.marginRight {
    margin-right: 15px;
}

.navbar {
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary {
    background-color: #4B79A1;
    border: #4B79A1;
}

.btn-primary:hover {
    background-color: #3694e7;
}

/* Posts */
.post {
    margin-top: 10px;
}

.postImage {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

svg {
    pointer-events: none;
}

/* Canvas Drawing Tools */
.paletteCard {
   background-image: url("https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.colorButtons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin-right: 3%;
}
#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}

#brown {
    background-color: brown;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}


/* Work in Progress */

/* .d-flex {
    display: flex
}

@media only screen and (max-width: 1200px) {
    /* .UserDiv {
        
    } */
    /* .CanvasDiv {
        flex-direction: column;
    } */
/* } */ 